<form>
  <mat-form-field>
    <input type="text" placeholder="Find a bunny" aria-label="Number" matInput [formControl]="autoSuggest"
           [matAutocomplete]="auto">
    <mat-autocomplete [autoActiveFirstOption]="true" #auto="matAutocomplete" (optionSelected)="pickBunny($event)">
      <mat-option *ngFor="let bunny of filteredBunnies | async" [value]="bunny.name" [id]="bunny.id">
        {{bunny.name}}   {{bunny.intakeDate.slice(0, 4)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</form>
<form *ngIf="data" [formGroup]="data" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input required matInput size=30 type="text" formControlName="name"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Surrender Name</mat-label>
    <input matInput type="text" formControlName="surrenderName"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select required formControlName="gender">
      <mat-option *ngFor="let gender of allGenders" [value]="gender.value">
        {{ gender.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input required matInput [matDatepicker]="intakePicker" [min]="generalMinDate" [max]="todaysDate" placeholder="Intake date" formControlName="intakeDate">
    <mat-datepicker-toggle matSuffix [for]="intakePicker"></mat-datepicker-toggle>
    <mat-datepicker #intakePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <mat-label>Physical Description</mat-label>
    <input matInput type="text" formControlName="description"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="spayPicker" [min]="generalMinDate" [max]="todaysDate" placeholder="Spay date" formControlName="spayDate">
    <mat-datepicker-toggle matSuffix [for]="spayPicker"></mat-datepicker-toggle>
    <mat-datepicker #spayPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dateOfBirthPicker" [min]="generalMinDate" [max]="todaysDate" placeholder="Date of birth" formControlName="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirthPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rescue Type</mat-label>
    <mat-select required formControlName="rescueType">
      <mat-option *ngFor="let rescueType of allRescueTypes" [value]="rescueType.value">
        {{ rescueType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Intake Reason</mat-label>
    <input matInput type="text" formControlName="intakeReason"/>
  </mat-form-field>
  <div class="row" style="justify-content:center;margin-top:0px;">
    <button mat-raised-button color="accent" type="submit" [disabled]="!valid() || !data.valid">Save Bunny Details</button>
  </div>
</form>
