<form [formGroup]="data" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input required matInput size=30 type="text" formControlName="name"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Surrender Name</mat-label>
    <input matInput type="text" formControlName="surrenderName"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select #genderSelection required formControlName="gender">
      <mat-option *ngFor="let gender of allGenders" [value]="gender.value">
        {{ gender.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input required matInput [matDatepicker]="intakePicker" [min]="generalMinDate" [max]="todaysDate" placeholder="Intake date" formControlName="intakeDate">
    <mat-datepicker-toggle matSuffix [for]="intakePicker"></mat-datepicker-toggle>
    <mat-datepicker #intakePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width:50% !important">
    <mat-label>Physical Description</mat-label>
    <textarea matInput
              formControlName="description"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"></textarea>
  </mat-form-field>
  <div class="mat-form-field" style="margin-right:20px;">
    <mat-form-field style="margin-right:0;">
      <input matInput [matDatepicker]="spayPicker" [min]="generalMinDate" [max]="todaysDate" placeholder="{{genderSelection.selected?.value === 'Male' ? 'Neuter' : 'Spay'}} date" formControlName="spayDate">
      <mat-datepicker-toggle matSuffix [for]="spayPicker"></mat-datepicker-toggle>
      <mat-datepicker #spayPicker></mat-datepicker>
    </mat-form-field>
    <div style="position: relative;" [hidden]="!spayPicker._selected">
      <mat-form-field style="position: absolute; margin-right:0; width:50%; transform: scale(.7) translate(165%, -220%)">
        <mat-select required="{{spayPicker._selected ? true.toString() : false.toString()}}" formControlName="spayExplanation">
          <mat-option *ngFor="let explanation of allSpayExplanations" [value]="explanation.value">
            {{ explanation.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="mat-form-field" style="margin-right:20px;">
    <mat-form-field style="margin-right:0;">
      <input matInput [matDatepicker]="dateOfBirthPicker" [min]="generalMinDate" [max]="todaysDate" placeholder="Date of birth" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateOfBirthPicker></mat-datepicker>
    </mat-form-field>
    <div style="position: relative;" [hidden]="!dateOfBirthPicker._selected">
      <mat-form-field style="position: absolute; margin-right:0; width:50%; transform: scale(.7) translate(165%, -220%)">
        <mat-select required="{{dateOfBirthPicker._selected ? true.toString() : false.toString()}}" formControlName="dateOfBirthExplanation">
          <mat-option *ngFor="let explanation of allDateOfBirthExplanations" [value]="explanation.value">
            {{ explanation.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field>
    <mat-label>Rescue Type</mat-label>
    <mat-select required formControlName="rescueType">
      <mat-option *ngFor="let rescueType of allRescueTypes" [value]="rescueType.value">
        {{ rescueType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width:50% !important">
    <mat-label>Intake Reason</mat-label>
    <textarea matInput
              formControlName="intakeReason"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"></textarea>
  </mat-form-field>
  <div class="row" style="justify-content:center;margin-top:100px;">
    <button mat-raised-button color="accent" type="submit" [disabled]="!data.valid">Add New Bunny</button>
  </div>
</form>
